.btn {
  @include mid-flex;
  text-align: center;
  cursor: pointer;
  padding: 1.2rem 2rem;
  height: 4.8rem;
  @include transition(0.5s, ease);
  overflow: hidden;
  position: relative;
  background: var(--color-pri);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 0.8rem;
  border-radius: 100rem;
  width: fit-content;
  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background: #f5e8e8;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .icon-logo {
    filter: brightness(0) invert(1);
  }
  @include hover {
    color: var(--color-pri);
    &::after {
      left: 0;
      width: 100%;
    }
    .icon-logo {
      filter: unset;
    }
  }
  @include max(600px) {
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .icon {
    width: 2.4rem;
    height: 2.4rem;
    @include mid-flex;
    flex-shrink: 0;
    font-weight: 500;
    position: relative;
    .t-hide {
      position: absolute;
      width: 14rem;
      display: inline-block;
      padding: 1.2rem;
      font-size: 1.2rem;
      background: var(--color-white);
      border-radius: 0.4rem;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      color: var(--color-tt);
    }
  }

  @include hover {
    color: var(--color-pri);
    &::after {
      left: 0;
      width: 100%;
    }
    .icon {
      transform: unset;
    }
  }
  &.center {
    margin: 0 auto;
  }
  &.full {
    width: 100%;
  }
  &.second {
    background: #fff;
    color: var(--color-pri);
    border: 0.1rem solid var(--color-pri);
    @include hover {
      color: #fff;
    }
    &::after {
      background: var(--color-pri);
    }
  }
  &.trans {
    background: transparent;
    color: var(--color-pri);
    border: 0.1rem solid var(--color-pri);
    @include hover {
      color: var(--color-white);

      &.btn-icon {
        .icon {
          filter: brightness(0) invert(1);
        }
      }
    }
    &:after {
      background: var(--color-pri);
    }
  }

  &.btn-logo {
    .icon {
      filter: brightness(0) invert(1);
    }
    @include hover {
      .icon {
        filter: unset;
      }
    }
  }
  &.btn-test {
    background: #fff;
    color: var(--color-tt);
    border: 0.1rem solid #dedee0;
    padding: 1.2rem;
    @include max(500px) {
      padding: 0.8rem 1.2rem;
    }
    @include hover {
      color: #fff;
      .icon {
        color: #fff;
      }
    }
    .icon {
      color: var(--color-pri);
      i {
        font-weight: 400;
      }
    }
  }
}
.lb-ip {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  input {
    &:checked ~ .checkbox {
      border-color: var(--color-pri);
      &::before {
        opacity: 1;
      }
    }
    &:checked ~ .check-radio {
      border-color: var(--color-pri);
      background: var(--color-pri);
      &::before {
        opacity: 1;
      }
    }
  }
  .checkbox {
    width: 1.8rem;
    height: 1.8rem;
    @include mid-flex;
    border-radius: 0.4rem;
    flex-shrink: 0;
    border: 0.2rem solid #8c8982;
    transition: 0.3s ease-in-out;
    position: relative;
    &::before {
      content: "\f00c";
      font-size: 1.2rem;
      position: absolute;
      @include mid;
      font-family: "Font Awesome 6 Pro";
      color: var(--color-pri);
      transition: 0.3s ease-in-out;
      opacity: 0;
    }
  }
  .check-radio {
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
    flex-shrink: 0;
    border: 0.2rem solid #8c8982;
    background: #ffff;
    transition: 0.3s ease-in-out;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      @include mid();
      width: 1rem;
      height: 1rem;
      border-radius: 100rem;
      background: #fff;
      transition: 0.3s ease-in-out;
      opacity: 0;
      z-index: 1;
    }
  }
  .t-txt {
    font-size: 1.4rem;
    color: #403e3a;
  }
}
