script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/anime/anime.min.js')
script(src='./assets/library/countUp/countUp.min.js')
script(src='./assets/library/datetime/daterangepicker.min.js')
script(src='./assets/library/datetime/moment.min.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/ScrollTrigger.min.js')
script(src='./assets/library/isotope/isotope.pkgd.js')
script(src='./assets/library/isotope/isotope.pkgd.min.js')
script(src='./assets/library/particles/particles.min.js')
script(src='./assets/library/plyr/plyr.min.js')
script(src='./assets/library/pushin/pushin.min.js')
script(src='./assets/library/scrollreveal/scrollreveal.js')
script(src='./assets/library/smoothscroll/SmoothScroll.min.js')
script(src='./assets/library/twentytwenty/jquery.twentytwenty.min.js')
script(src='./assets/library/twentytwenty/jquery.event.move.js')
script(src='./assets/library/ukiyo/ukiyo.min.js')
script(src='https://www.youtube.com/iframe_api')
script(src='./assets/library/locomotivescroll/locomotive-scroll.min.js')
script(src='./js/main.js' type='module')

