extends layout/layout
block vars
   -title = 'template'
   -mainClass = 'page-template'
   -bodyClass = 'template'
   -hdClass = ''
   -jsLibs = [JsJquery, JsAos, JsSplitting, JsGsap, JsScrollTrigger,JsFancybox]
   -jsComponents = ['search','btnToTop','header', 'mobile','animated','textAni','scrollTrigger',"fancybox"]
   -cssLibs = [Cssfontawesomeall, Cssfontawesome, CssAos, CssSwiper,CssSplitting,CssFancybox]
   -cssComponents = ['banner','pagination','animation','ani','card','box']
   -cssPages = ['home']

block container
   .container
      +social("mạng xã hội",[{images: "social-1.png"},{images: "social-2.png"},{images: "social-3.png"},{images: "social-4.png"}],"")

      +ttp("Có thể bạn <span>quan tâm</span>",
            "ttcenter",
            "t-ctext ttdecor f-pri tshadow t-upper t-center txt-spl",
            "Có thể bạn quan tâm",
            "",
            "",
            "decor.png",
            "",
            false)

      +btn("Tìm hiểu thêm","btn-pri btn-main","","btn-icon-1.png","","")
      +btn("Tìm hiểu thêm","btn-pri btn-main","","btn-icon-2.png","","")
      +btn("Tìm hiểu thêm","btn-pri btn-rev btn-main","","btn-icon-1.png","","")
      +btn("Tìm hiểu thêm","btn-pri btn-main","","","","")
      +btn("Tìm hiểu thêm","btn-pri wcus btn-main","","btn-icon-1.png","","")
      +btn("Tìm hiểu thêm","btn-white btn-main","","btn-icon-1.png","","")
      br
      br

      +pagination([
               { type: 'prev' },
               { type: 'current', number: 1 },
               { type: 'page', number: 2 },
               { type: 'dot' },
               { type: 'page', number: 5 },
               { type: 'page', number: 6 },
               { type: 'next' }
               ],"")

