@keyframes titledecor {
  0%{
    transform: scale(.2) translate(100%);
    opacity: 0;
  }
  50%{
    transform: scale(.5) translate(0,0);
    opacity: 1;
  }
  100%{
    transform: scale(1) translate(0,0);
    opacity: 1;

  }
}
@keyframes shake3D {
  0%, 100% {
      transform: translate3d(0, 0, 0) rotateX(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
      transform: translate3d(-10px, -10px, 0);
  }
  20%, 40%, 60%, 80% {
      transform: translate3d(10px, 10px, 0);
  }
}
@keyframes shake3DCus {
  0%, 100% {
      transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
      transform: translate3d(10px, -10px, 0);
  }
  20%, 40%, 60%, 80% {
      transform: translate3d(-10px, 10px, 0);
  }
}
@keyframes shake {
  0%, 100% {
      transform: rotate(0deg); /* Ban đầu không xoay */
  }
  25% {
      transform: rotate(-10deg); /* Xoay sang trái */
  }
  50% {
      transform: rotate(10deg); /* Xoay sang phải */
  }
  75% {
      transform: rotate(-5deg); /* Lắc nhẹ sang trái */
  }
}
@keyframes dance-2 {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
}
20% {
    -webkit-transform: translate(0, 0) rotate(5deg);
    transform: translate(0, 0) rotate(5deg);
}
40% {
    -webkit-transform: translate(0, 0) rotate(-5deg);
    transform: translate(0, 0) rotate(-5deg);
}
60% {
    -webkit-transform: translate(0, 0) rotate(5deg);
    transform: translate(0, 0) rotate(5deg);
}
80% {
    -webkit-transform: translate(0, 3rem) rotate(-5deg);
    transform: translate(0, 3rem) rotate(-5deg);
}
100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
}
}
@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.8, .8, .8) rotate3d(0, 0, 1, -6deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 6deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes phone-fn {
  0% {
    transform: rotate(0deg) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  100%, 50% {
    transform: rotate(0deg) scale(1) skew(1deg); } }

@keyframes bounceInLeft {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px,0,0) scaleX(3);
      transform: translate3d(-3000px,0,0) scaleX(3)
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px,0,0) scaleX(1);
      transform: translate3d(25px,0,0) scaleX(1)
  }

  75% {
      -webkit-transform: translate3d(-10px,0,0) scaleX(.98);
      transform: translate3d(-10px,0,0) scaleX(.98)
  }

  90% {
      -webkit-transform: translate3d(5px,0,0) scaleX(.995);
      transform: translate3d(5px,0,0) scaleX(.995)
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

@keyframes bounceInRight {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(3000px,0,0) scaleX(3);
      transform: translate3d(3000px,0,0) scaleX(3)
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px,0,0) scaleX(1);
      transform: translate3d(-25px,0,0) scaleX(1)
  }

  75% {
      -webkit-transform: translate3d(10px,0,0) scaleX(.98);
      transform: translate3d(10px,0,0) scaleX(.98)
  }

  90% {
      -webkit-transform: translate3d(-5px,0,0) scaleX(.995);
      transform: translate3d(-5px,0,0) scaleX(.995)
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}
@keyframes bounceInUp {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1)
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,3000px,0) scaleY(5);
      transform: translate3d(0,3000px,0) scaleY(5)
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(0,-20px,0) scaleY(.9);
      transform: translate3d(0,-20px,0) scaleY(.9)
  }

  75% {
      -webkit-transform: translate3d(0,10px,0) scaleY(.95);
      transform: translate3d(0,10px,0) scaleY(.95)
  }

  90% {
      -webkit-transform: translate3d(0,-5px,0) scaleY(.985);
      transform: translate3d(0,-5px,0) scaleY(.985)
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}
@keyframes bounceOut {
  20% {
      -webkit-transform: scale3d(.9,.9,.9);
      transform: scale3d(.9,.9,.9)
  }

  50%,55% {
      opacity: 1;
      -webkit-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1)
  }

  to {
      opacity: 0;
      -webkit-transform: scale3d(.3,.3,.3);
      transform: scale3d(.3,.3,.3)
  }
}
@keyframes bounceOutDown {
  20% {
      -webkit-transform: translate3d(0,10px,0) scaleY(.985);
      transform: translate3d(0,10px,0) scaleY(.985)
  }

  40%,45% {
      opacity: 1;
      -webkit-transform: translate3d(0,-20px,0) scaleY(.9);
      transform: translate3d(0,-20px,0) scaleY(.9)
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(0,2000px,0) scaleY(3);
      transform: translate3d(0,2000px,0) scaleY(3)
  }
}
@keyframes bounceOutLeft {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(20px,0,0) scaleX(.9);
      transform: translate3d(20px,0,0) scaleX(.9)
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(-2000px,0,0) scaleX(2);
      transform: translate3d(-2000px,0,0) scaleX(2)
  }
}
@keyframes OutLeft {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(20px,0,0) scaleX(.9);
      transform: translate3d(20px,0,0) scaleX(.9)
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(-2000px,0,0) scaleX(2);
      transform: translate3d(-2000px,0,0) scaleX(2)
  }
}
@keyframes OutRight {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px,0,0) scaleX(.9);
      transform: translate3d(-20px,0,0) scaleX(.9)
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(2000px,0,0) scaleX(2);
      transform: translate3d(2000px,0,0) scaleX(2)
  }
}

@keyframes bounceOutUp {
  20% {
      -webkit-transform: translate3d(0,-10px,0) scaleY(.985);
      transform: translate3d(0,-10px,0) scaleY(.985)
  }

  40%,45% {
      opacity: 1;
      -webkit-transform: translate3d(0,20px,0) scaleY(.9);
      transform: translate3d(0,20px,0) scaleY(.9)
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(0,-2000px,0) scaleY(3);
      transform: translate3d(0,-2000px,0) scaleY(3)
  }
}

@-webkit-keyframes lefttoright {
  0% {
   transform: translate(-100%,0) scale(.7);
    opacity: 0;
  }
  80%{
    transform: translate(0,0) scale(.7);
    opacity: .7;
  }
  100% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes righttoleft {
  0% {
   transform: translate(100%,0) scale(.7);
    opacity: 0;
  }
  80%{
    transform: translate(0,0) scale(.7);
    opacity: .7;
  }
  100% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
}
@keyframes cloud {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  20%{
    opacity: .8;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: .8;
  }
  100%{
    opacity: 0;
  transform: translateX(200%);
  }
}
@keyframes flash {
  0%{
      transform: translateY(100%);
  }
  50%{
      transform: translateY(-100%);
  }
  100%{
      transform: translateY(0);
  }
}
@keyframes star {
  0%{
    opacity: .3;
    transform: scale(.3);
  }
  50%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: .3;
    transform: scale(.3);
  }
}

@keyframes animate-svg {
  0% {
    stroke-dashoffset: 100%;
    stroke-dasharray: 100%;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 100%;
  }
}

@keyframes rotatecus {
  0%{
    transform: scale(1.4);
    opacity: 0;
  }
  50%{
    opacity: .6;
  }
  100%{
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadel {
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fader {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shakeY-cus {
  from,
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
      -webkit-transform: translate3d(0, -2px, 0);
      transform: translate3d(0, -2px, 0);
  }
  20%,
  40%,
  60%,
  80% {
      -webkit-transform: translate3d(0, 2px, 0);
      transform: translate3d(0, 2px, 0);
  }
}
@keyframes scale {
  0%{
    opacity: 0;
    transform: scale(.5);
  }
  50%{
    opacity: .6;
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cluippathcenter{
  0% {
    clip-path: inset(0 50% 0 50%);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes reveal {
  0% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  50% {
      clip-path: polygon(100% 0, 0 0, 100% 100%, 100% 100%);
  }
  100% {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@keyframes frame {
   100%{
    stroke-dashoffset: 0;
   }
}
@keyframes fadeOut{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes zoomin2 {
  0%{
    transform: scale(.5);
    opacity: 0;
  }
  50%{
    transform: scale(.8);
    opacity: .6;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes zoomout {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes zoomin {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes ani {
  from {
   -webkit-mask-position: 0 0;
   mask-position: 0 0;
  }
 
  to {
   -webkit-mask-position: 100% 0;
   mask-position: 100% 0;
  }
 }
 
 @keyframes ani2 {
  from {
   -webkit-mask-position: 100% 0;
   mask-position: 100% 0;
  }
 
  to {
   -webkit-mask-position: 0 0;
   mask-position: 0 0;
  }
 }
 
@keyframes cloudMove {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes cloudFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes show{
  0% {
    opacity: 0;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes show{
  0% {
    opacity: 0;
    transform: translateY(10%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@-webkit-keyframes flip{
  30% {
    transform: rotateY(45deg);
}

50% {
    transform: rotateY(-45deg);
}
100% {
    transform: rotateY(0);
}
}
@keyframes flip{
  30% {
    transform: rotateY(45deg);
}

50% {
    transform: rotateY(-45deg);
}
100% {
    transform: rotateY(0);
}
}
@-webkit-keyframes pin{
  0% {
    opacity: 0.6;
    transform: scale(0.5);
}
100% {
    opacity: 0;
    transform: scale(1.6);
}
}
@-webkit-keyframes phone-fn{
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
}
10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
}
20% {
    transform: rotate(25deg) scale(1) skew(1deg);
}
30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
}
40% {
    transform: rotate(25deg) scale(1) skew(1deg);
}
100%, 50% {
    transform: rotate(0deg) scale(1) skew(1deg);
}
}
@keyframes phone-fn{
  0% {
    transform: rotate(0deg) scale(1) skew(1deg);
}
10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
}
20% {
    transform: rotate(25deg) scale(1) skew(1deg);
}
30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
}
40% {
    transform: rotate(25deg) scale(1) skew(1deg);
}
100%, 50% {
    transform: rotate(0deg) scale(1) skew(1deg);
}
}
@keyframes moveRight {
  100% {
      background-position: 100% 0;
  }
}
@-webkit-keyframes moveRight {
  100% {
      background-position: 100% 0;
  }
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
// @-webkit-keyframes circle {
// 	0% {
// 		opacity: 1;
// 	}
// 	40% {
// 		opacity: 1;
// 	}
// 	90% {
// 		width: 200%;
// 		height: 200%;
// 		opacity: 0;
// 	}
//   100%{
//     z-index: -1;
//   }
// }
@keyframes spring {
  0% {
      transform: scale(1);
  }
  30% {
      transform: scale(1.25);
  }
  50% {
      transform: scale(0.9);
  }
  70% {
      transform: scale(1.15);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	95% {
		width: 500%;
		height: 500%;
		opacity: 0;
	}
  100%{
		opacity: 0;
  }
}


@-moz-keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    transform: rotate(-35deg) scale(1) skew(1deg);
  }

  20% {
    transform: rotate(35deg) scale(1) skew(1deg);
  }

  30% {
    transform: rotate(-35deg) scale(1) skew(1deg);
  }

  40% {
    transform: rotate(35deg) scale(1) skew(1deg);
  }

  50% {
    transform: rotate(-35%) scale(1) skew(1deg);
  }

  60% {
    transform: rotate(35%) scale(1) skew(1deg);
  }

  70% {
    transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}

// phone ring - end
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

@-webkit-keyframes ZoomIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ZoomIn {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes Spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);

  }
}

@keyframes Spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);

  }
}

@keyframes BTT {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes halo {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes mirror {
  100% {
    transform: translate3d(2000%, 0, 0) rotate(35deg);
  }
}

@keyframes DownUp {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.95, 1.05);
  }

  50% {
    transform: scale(1.05, 0.95);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes jelly2 {
  25% {
    transform: scale(0.98, 1.02);
  }

  50% {
    transform: scale(1.02, 0.98);
  }

  75% {
    transform: scale(0.98, 1.02);
  }
}

@keyframes jellyTranForm {
  25% {
    transform: translate(-50%, -50%) scale(0.9, 1.1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1, 0.9);
  }

  75% {
    transform: translate(-50%, -50%) scale(0.95, 1.05);
  }
}

@keyframes jittery {

  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(0.9);
  }

  15% {
    transform: scale(1.05);
  }

  20% {
    transform: scale(1.05) rotate(-5deg);
  }

  25% {
    transform: scale(1.05) rotate(5deg);
  }

  30% {
    transform: scale(1.05) rotate(-3deg);
  }

  35% {
    transform: scale(1.05) rotate(2deg);
  }

  40% {
    transform: scale(1.05) rotate(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 1
  }

  to {
    transform: scale(1.5, 1.5);
    opacity: 0
  }
}
@keyframes mouse {
  from {
      opacity: 1;
      top: 30%;
  }
  to {
      opacity: 0;
      top: 70%;
  }
}
@keyframes grows {
  from {
    transform: scale(0.9, 0.9);
    opacity: 1
  }

  to {
    transform: scale(1.5, 1.5);
    opacity: 0
  }
}
@keyframes shakeX {
  from,
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
  }
}
@keyframes shakeY {
  from,
  to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
  }
  20%,
  40%,
  60%,
  80% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
  }
}
@keyframes zoomInSlow {
  from {
    transform: translate(-50%, -50%) scale(1.2);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOutSlow {
  from {
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes zoomIns {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.4;
  }
}

@keyframes zoomOutSlow {
  from {
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    transform: translate(-50%, -50%) scale(1.2);
  }
}


@keyframes DownUp2 {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes fadeLeftLong {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes imgLoad {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translate3D(-100%, 0, 0);
  }

  100% {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translate3D(0, 0, 0);
  }

  100% {
    transform: translate3D(100%, 0, 0);
  }
}

@keyframes slide-in-right-50 {
  0% {
    transform: translate3D(-50%, 0, 0);
  }

  100% {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translate3D(100%, 0, 0);
  }

  100% {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translate3D(0, 0, 0);
  }

  100% {
    transform: translate3D(-100%, 0, 0);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translate3D(0, -100%, 0);
  }

  100% {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes slide-out-left-50 {
  0% {
    transform: translate3D(0, 0, 0);
  }

  100% {
    transform: translate3D(-50%, 0, 0);
  }
}

@keyframes slide-in-left-50 {
  0% {
    transform: translate3D(50%, 0, 0);
  }

  100% {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }

  65% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes shine2 {
  0% {
    left: -50%;
    opacity: 0.5;
  }

  50% {
    left: 25%;
    opacity: 0.25;
  }

  100% {
    left: 100%;
    opacity: 0;
  }
}

// to left
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes toTop {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  20% {
    bottom: 0%;
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
  }
}


// img
@-webkit-keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
            transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
            transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@-webkit-keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
            transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
            transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}



@keyframes tabUp {
  from {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes tabDown {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateY(-100%) scale(0.9);
    opacity: 0;
  }
}
//
@keyframes tabRight {
  from {
    transform: translateX(100%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes tabLeft {
  from {
    transform: translateX(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-100%) scale(0.9);
    opacity: 0;
  }
}

@keyframes beat {
  0% {
      transform: scale(1)
  }

  14% {
      transform: scale(1.1)
  }

  96% {
      transform: scale(1.05)
  }

  100% {
      transform: scale(1)
  }
}